<plugin>
	<nom>Statistiques</nom>
	<icon>prive/themes/spip/images/statistique-32.png</icon>
	<auteur>Collectif SPIP</auteur>
	<version>0.3.1</version>
	<version_base>1.0.0</version_base>
	<etat>dev</etat>
	<slogan>Gestion des statistiques dans SPIP</slogan>
	<description>
	Statistiques de SPIP
	</description>
	<prefix>stats</prefix>
	<install>base/stats_upgrade.php</install>

	<pipeline><nom>delete_statistiques</nom><action></action></pipeline>
	<pipeline>
		<nom>declarer_tables_auxiliaires</nom>
		<inclure>base/stats.php</inclure>
	</pipeline>
	<pipeline>
		<nom>configurer_liste_metas</nom>
		<inclure>stats_pipelines.php</inclure>
	</pipeline>
	
	<pipeline>
		<nom>affichage_entetes_final</nom>
		<inclure>stats_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affiche_milieu</nom>
		<inclure>stats_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>boite_infos</nom>
		<inclure>stats_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>formulaire_admin</nom>
		<inclure>stats_pipelines.php</inclure>
	</pipeline>
	
	<pipeline>
		<nom>taches_generales_cron</nom>
		<inclure>stats_pipelines.php</inclure>
	</pipeline>
	
	<pipeline>
		<nom>autoriser</nom>
		<inclure>stats_autoriser.php</inclure>
	</pipeline>

	<necessite id="SPIP" version="[2.1;)" />
	
	
	<bouton id="statistiques" parent="bando_activite" position="0">
		<icone>images/statistique-16.png</icone>
		<titre>statistiques:icone_statistiques_visites</titre>
		<url>stats_visites</url>
	</bouton>
		<onglet id='stats_visites' parent='statistiques'>
			<icone>images/statistique-24.png</icone>
			<titre>statistiques:icone_statistiques_visites</titre>
			<url>stats_visites</url>
		</onglet>
		<onglet id='stats_referers' parent='statistiques'>
			<icone>images/referers-24.png</icone>
			<titre>statistiques:titre_liens_entrants</titre>
			<url>stats_referers</url>
		</onglet>
		<onglet id='stats_repartition' parent='statistiques'>
			<icone>images/chartpie-24.png</icone>
			<titre>statistiques:icone_repartition_visites</titre>
			<url>stats_repartition</url>
		</onglet>
		<onglet id='stats_lang' parent='statistiques'>
			<icone>images/langue-24.png</icone>
			<titre>statistiques:onglet_repartition_lang</titre>
			<url>stats_lang</url>
		</onglet>
	<categorie>statistique</categorie>
	<traduire gestionnaire="salvatore" module="statistiques" reference="fr" />

</plugin>

